{% extends "base.html" %}
{% block title %}
    BookingKhram About Me
{% endblock %}
{% block content %}
    <div class="container-top-content">
        <div class="container-about-topic">
            <div class="abparent">
                <div class="abdiv1"> 
                    <h1>เกี่ยวกับ BookingKhram</h1>
                    <h3>Website นี้จัดทำเพื่อสอบเกี่ยวกับวิชาออกแบบเว็ปไซต์ UX/UI<br>ห้ามกรอกข้อมูลจริงเป็นอันขาดใช้ข้อมูลเท็จในการทดสอบเท่านั่น</h3>
                </div>
                <div class="abdiv2"> 
                    <img src="static/image/dangerabout.png" class="imgabout">
                </div>
            </div>
        </div>
    </div>
    <div class="container-about-main">
        <div class="container-about-content">
            <h1 class="about-topic">BookingKhram<br>
                Website จองโรมแรมในสมุทรสงคราม
            </h1>
            <div class="abcparent">
                    <div class="abcdiv1"> 
                        <img src="https://ik.imagekit.io/tvlk/image/imageResource/2022/11/11/1668131492018-44c691c05f7f1bb1a322d3754a789ec4.png?tr=q-75" style="width:100%">
                    </div>
                    <div class="abcdiv2">
                        <p>Booking เป็นเว็ปแอปพลิเคชันที่ตอบโจทย์ทั้งท่องเที่ยวและไลฟ์สไตล์ในจังหวัดสมุทรสงคราม คุณสามารถค้นหาและจองบริการด้านที่พัก   
                            BoookinKhram ตัวเลือกจองโรงแรมและที่พักในจังหวัดสมุทรสงคราม </p>
                    </div>
            </div>
            <div class="abc2parent">
                <div class="abc2div1"> 
                    <p>อย่ารอช้า เข้ามาจองทริปตามที่คุณวางแผนเอาไว้ หรือจองทริปด่วนทันใจกับเรา ไม่ว่าคุณจะชอบการเที่ยวแบบไหนหรือมีไลฟ์สไตล์แบบไหน BookinKhram พร้อมตอบรับทุกความต้องการในแบบคุณเสมอทดสอบระบบได้ปุ่มด้านล่างนี้เลย!!!</p>
                </div>
                <div class="abc2div2"> 
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2022/11/11/1668131555466-013576c97280f558d04b1de3b9ad57e8.png?tr=q-75" style="width:100%">
                </div>
            </div>
            <a href="/" class="about-link">ทดสอบระบบเลย </a>
        </div>
    </div>

{% endblock %}