{% extends "base.html" %}
{% block title %}
    BookingKhram
{% endblock %}
{% block content %}
    <div class="container-hotel">
        <div class="container-hotel-maintop">
            <h2>โรงแรมอลงกรณ์ บาย เอสบี</h2>
            <p><i class="fa-solid fa-location-dot"></i>&nbsp; ที่อยู่: 541 15 ถ. เกษมสุขุม ตำบล แม่กลอง อำเภอเมืองสมุทรสงคราม สมุทรสงคราม 75000</p>
            <hr>
            <div class="htcparent">
                <div class="htcdiv1">
                    <a href="static/image/room/Hotel3.jpg" data-fancybox="images"><img src="static/image/room/Hotel3.jpg" class="img-image-hotel"></a>
                </div>
                <div class="htcdiv2">
                    <a href="static/image/room/Hotel31.jpg" data-fancybox="gallery"><img src="static/image/room/Hotel31.jpg" class="img-image-hotel"></a>
                </div>
                <div class="htcdiv3">
                    <a href="static/image/room/Hotel32.jpg" data-fancybox="gallery"><img src="static/image/room/Hotel32.jpg" class="img-image-hotel"></a>
                </div>
                <div class="htcdiv4">
                    <a href="static/image/room/Hotel33.jpg" data-fancybox="gallery"><img src="static/image/room/Hotel33.jpg" class="img-image-hotel"></a>
                </div>
                <div class="htcdiv5">
                    <a href="static/image/room/Hotel34.jpg" data-fancybox="gallery"><img src="static/image/room/Hotel34.jpg" class="img-image-hotel"></a>
                </div>
            </div>
           
            
        </div>
        <div class="life-ez">
            <h3>สิ่งอำนวยความสะดวก</h3>
            <div class="htcegparent">
                <div class="htcegdiv1">
                    <img importance="low" loading="lazy" src="https://s3-ap-southeast-1.amazonaws.com/cntres-assets-ap-southeast-1-250226768838-cf675839782fd369/imageResource/2016/12/21/1482301285653-0a04df7d3f807b32484ceec10d9681c6.png" decoding="async" width="32" height="32" style="object-fit: fill; object-position: 50% 50%;">
                    <br><p>เครื่องปรับอากาศ</p>
                </div>
                <div class="htcegdiv2">
                    <img importance="low" loading="lazy" src="https://s3-ap-southeast-1.amazonaws.com/cntres-assets-ap-southeast-1-250226768838-cf675839782fd369/imageResource/2017/06/07/1496833738654-d8acba985778fc0cc5dd1d56d6cf48c5.png" decoding="async" width="32" height="32" style="object-fit: fill; object-position: 50% 50%;">
                    <br><p>แผนกต้อนรับ 24 ชม.</p>
                </div>
                <div class="htcegdiv3">
                    <img importance="low" loading="lazy" src="https://s3-ap-southeast-1.amazonaws.com/cntres-assets-ap-southeast-1-250226768838-cf675839782fd369/imageResource/2016/12/21/1482301292357-e810746c7dcac7a8f41536b963d05e05.png" decoding="async" width="32" height="32" style="object-fit: fill; object-position: 50% 50%;">
                    <br> <p>ที่จอดรถ</p>
                </div>
                <div class="htcegdiv4">
                    <img importance="low" loading="lazy" src="https://s3-ap-southeast-1.amazonaws.com/cntres-assets-ap-southeast-1-250226768838-cf675839782fd369/imageResource/2017/06/07/1496833833458-7b6ab67bc5df6ef9f2caee150aae1f43.png" decoding="async" width="32" height="32" style="object-fit: fill; object-position: 50% 50%;">
                    <br> <p>WiFi</p>
                </div>
                <div class="htcegdiv5">
                    <h2 class="hotel-price">ราคา : 1500 บาท </h2>
                </div>
            </div>
        </div>
        <div class="hotel-room">
            <h3>VIP</h3>
            <div class="htcrparent">
                <div class="htcrdiv1"> 
                    <h4>Garrlly</h4>
                    <div class="hrvipparent">
                        <div class="hrvipdiv1"> 
                            <a href="static/image/room/viproom/b5.jpg" data-fancybox="images"><img src="static/image/room/viproom/b5.jpg" class="img-image-hotel"></a>
                        </div>
                        <div class="hrvipdiv2"> 
                            <a href="static/image/room/viproom/b6.jpg" data-fancybox="gallery"><img src="static/image/room/viproom/b6.jpg" class="img-image-hotel"></a>
                        </div>
                        <div class="hrvipdiv3"> 
                            <a href="static/image/room/viproom/b7.jpg" data-fancybox="gallery"><img src="static/image/room/viproom/b7.jpg" class="img-image-hotel"></a>
                        </div>
                        <div class="hrvipdiv4"> 
                            <a href="static/image/room/viproom/b8.jpg" data-fancybox="gallery"><img src="static/image/room/viproom/b8.jpg" class="img-image-hotel"></a>
                        </div>
                    </div>
                </div>
                <div class="htcrdiv2"> 
                    <h1>ประเภทห้อง VIP</h1>
                    <h2 class="hotel-price">&nbsp;&nbsp;ราคา : 1500 บาท</h2>
                    <a href="/" class="link-bookings">จองเลย!!</a>
                </div>
            </div>
        </div>
        <div class="hotel-room">
            <h3>Normal</h3>
            <div class="htcrparent">
                <div class="htcrdiv1"> 
                    <h4>Garrlly</h4>
                    <div class="hrvipparent">
                        <div class="hrvipdiv1"> 
                            <a href="static/image/room/room/b1.jpg" data-fancybox="images"><img src="static/image/room/room/b1.jpg" class="img-image-hotel"></a>
                        </div>
                        <div class="hrvipdiv2"> 
                            <a href="static/image/room/room/b2.jpg" data-fancybox="gallery"><img src="static/image/room/room/b2.webp" class="img-image-hotel"></a>
                        </div>
                        <div class="hrvipdiv3"> 
                            <a href="static/image/room/room/b3.jpg" data-fancybox="gallery"><img src="static/image/room/room/b3.jpg" class="img-image-hotel"></a>
                        </div>
                        <div class="hrvipdiv4"> 
                            <a href="static/image/room/room/b4.jpg" data-fancybox="gallery"><img src="static/image/room/room/b4.jpg" class="img-image-hotel"></a>
                        </div>
                    </div>
                </div>
                <div class="htcrdiv2"> 
                    <h3>ประเภทห้อง ธรรมดา</h3>
                    <h2 class="hotel-price">&nbsp;&nbsp;ราคา : 1000 บาท</h2>
                    <a href="/" class="link-bookings">จองเลย!!</a>
                </div>
            </div>
        </div>




    </div>
{% endblock %}