{% extends "base.html" %}
{% block title %}
    BookingKhram Login
{% endblock %}
{% block content %}

    <div class="container-register-top-content"><br>
        <div class="rltparent">
            <div class="div1"> 
                <h1 class="registe-title">เข้าสู่ระบบ BookingKhram เลยวันนี้ เพื่อรับสิทธิพิเศษต่างๆ มากมาย!</h1>
                <p class="registep-title">เข้าสู่ระบบและรับสิทธิพิเศษเลยตอนนี้:</p>
            </div>
            <div class="rltdiv2"> 
                <h3 class="box-head-regis">เข้าสู่ระบบ BookingKhram!</h3>
                 <h4>หมายเลขโทรศัพท์มือถือ</h4>
                <p class="box-register">เราจะเก็บข้อมูลของคุณไว้อย่างปลอดภัยและเป็นความลับ</p>
                <form>
                    <input type="tel" id="phone" name="phone" placeholder="063-xxx-xxxx" required>
                    <input type="submit" value="สมัคร"> 
                </form>
                <p class="box-register">กรุณาทราบว่าคุณไม่จำเป็นต้องระบุรหัสประเทศซ้ำในช่องหมายเลขโทรศัพท์</p>
                <h4 class="box-thregister">เป็นสมาชิกแล้ว? <a href="login">เข้าสู่ระบบ</a></h4>
                <p class="box-thregister2">ในการสมัครสมาชิก ฉันยอมรับ <a href="https://www.traveloka.com/th-th/termsandconditions" class="register-link">ข้อกำหนดและเงื่อนไข</a> และ <a href="https://www.traveloka.com/th-th/privacypolicy" class="register-link">นโยบายความเป็นส่วนตัว</a>
                <br>ของ BookingKhram</p>
                <div class="security">
                    <p><img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/c/cecc53dcd35f87c240ab79221f168647.svg" height="20" width="20">
                       ปกป้องความปลอดภัยหลายขั้นตอนด้วย การแจ้งเตือนการเข้าสู่ &nbsp; &nbsp; &nbsp;  ระบบ การกรอกรหัสยืนยัน และยืนยันด้วยลายนิ้วมือ </p>
                </div>

                <p class="box-thregister2">© 2023 BookingKhram</p></div>
            <div class="rltdiv3"> </div>
        </div>
    </div>
        
    <div class="container-register-content">
        <div class="rlparent">
            <div class="rldiv1">
                <img importance="low" loading="lazy" src="https://ik.imagekit.io/tvlk/image/imageResource/2018/07/03/1530614337260-467fe5c9d9393d8aa0a1858b9595c613.svg?tr=h-65,q-75,w-65" srcset="https://ik.imagekit.io/tvlk/image/imageResource/2018/07/03/1530614337260-467fe5c9d9393d8aa0a1858b9595c613.svg?tr=h-65,q-75,w-65 1x, https://ik.imagekit.io/tvlk/image/imageResource/2018/07/03/1530614337260-467fe5c9d9393d8aa0a1858b9595c613.svg?tr=dpr-2,h-65,q-75,w-65 2x, https://ik.imagekit.io/tvlk/image/imageResource/2018/07/03/1530614337260-467fe5c9d9393d8aa0a1858b9595c613.svg?tr=dpr-3,h-65,q-75,w-65 3x" decoding="async" width="65" height="65" style="object-fit: fill; object-position: 50% 50%;">
                <h3>ราคาพิเศษสำหรับสมาชิก</h3>
                <p>รับดีลสำหรับสมาชิกมากมาย รวมถึงที่พักราคาพิเศษ <br>ประหยัดได้เยอะ ก็เที่ยวได้มากขึ้น!</p>
                <a href="https://www.traveloka.com/th-th/" class="register-link">ดูข้อมูลเพิ่มเติม</a>
            </div>
            <div class="rldiv2">
                <img importance="low" loading="lazy" src="https://ik.imagekit.io/tvlk/image/imageResource/2018/07/06/1530870556405-30c5375a4092447e9d0642f5876b0464.svg?tr=h-65,q-75,w-65" srcset="https://ik.imagekit.io/tvlk/image/imageResource/2018/07/06/1530870556405-30c5375a4092447e9d0642f5876b0464.svg?tr=h-65,q-75,w-65 1x, https://ik.imagekit.io/tvlk/image/imageResource/2018/07/06/1530870556405-30c5375a4092447e9d0642f5876b0464.svg?tr=dpr-2,h-65,q-75,w-65 2x, https://ik.imagekit.io/tvlk/image/imageResource/2018/07/06/1530870556405-30c5375a4092447e9d0642f5876b0464.svg?tr=dpr-3,h-65,q-75,w-65 3x" decoding="async" width="65" height="65" style="object-fit: fill; object-position: 50% 50%;">
                <h3>ราคาเปลี่ยนปุ๊ป คุณก็รู้ปั๊ป</h3>
                <p>ตั้งการแจ้งเตือนราคาเพื่อติดตามราคาเที่ยวบินที่ต้องการ</p>
                <a href="https://www.traveloka.com/th-th/price-alerts" class="register-link">ดูข้อมูลเพิ่มเติม</a>
             </div>
            <div class="rldiv3"> 
                <img importance="low" loading="lazy" src="https://ik.imagekit.io/tvlk/image/imageResource/2018/07/03/1530614341189-092d59e655a59c839f1480899547a28d.svg?tr=h-65,q-75,w-65" srcset="https://ik.imagekit.io/tvlk/image/imageResource/2018/07/03/1530614341189-092d59e655a59c839f1480899547a28d.svg?tr=h-65,q-75,w-65 1x, https://ik.imagekit.io/tvlk/image/imageResource/2018/07/03/1530614341189-092d59e655a59c839f1480899547a28d.svg?tr=dpr-2,h-65,q-75,w-65 2x, https://ik.imagekit.io/tvlk/image/imageResource/2018/07/03/1530614341189-092d59e655a59c839f1480899547a28d.svg?tr=dpr-3,h-65,q-75,w-65 3x" decoding="async" width="65" height="65" style="object-fit: fill; object-position: 50% 50%;">
                <h3>ประสบการณ์การจองที่แสนง่ายดาย</h3>
                <p>บันทึกบัตรเครดิตและข้อมูลผู้โดยสารของคุณ เพื่อการจองที่รวดเร็วยิ่งขึ้นด้วยฟีเจอร์บัตรเครดิตของฉันและ Passenger <br>Quick Pick! </p>
                <a href="https://www.traveloka.com/th-th/quickpick" class="register-link">ดูข้อมูลเพิ่มเติม</a>
            </div>
            <div class="rldiv4"> 
                <img importance="low" loading="lazy" src="https://ik.imagekit.io/tvlk/image/imageResource/2018/07/03/1530614352169-a4074229a59bf89d295968d7a349806a.svg?tr=h-65,q-75,w-65" srcset="https://ik.imagekit.io/tvlk/image/imageResource/2018/07/03/1530614352169-a4074229a59bf89d295968d7a349806a.svg?tr=h-65,q-75,w-65 1x, https://ik.imagekit.io/tvlk/image/imageResource/2018/07/03/1530614352169-a4074229a59bf89d295968d7a349806a.svg?tr=dpr-2,h-65,q-75,w-65 2x, https://ik.imagekit.io/tvlk/image/imageResource/2018/07/03/1530614352169-a4074229a59bf89d295968d7a349806a.svg?tr=dpr-3,h-65,q-75,w-65 3x" decoding="async" width="65" height="65" style="object-fit: fill; object-position: 50% 50%;">
                <h3>บริการหลังการจองแสนสะดวก</h3>
                <p>ตรวจสอบประวัติการชำระเงินในหน้า รายการจอง ไม่ต้องพิมพ์ตั๋ว/ใบจองให้ยุ่งยาก ก็สามารถเช็คอินได้ และฟีเจอร์ Easy Reschedule ที่รองรับทุกการเปลี่ยนแปลงกับแผนเดินทาง</p>
                <a href="https://www.traveloka.com/en-th/reschedule/flight" class="register-link">ดูข้อมูลเพิ่มเติม</a>
            </div>
            <div class="rldiv5"> 
               <!-- <h3>สมัครเป็นสมาชิก BookingKhram!</h3>
                <h4>หมายเลขโทรศัพท์มือถือ</h4>
                <p class="box-register">เราจะเก็บข้อมูลของคุณไว้อย่างปลอดภัยและเป็นความลับ</p>
                <form>
                    <input type="tel" id="phone" name="phone" placeholder="063-xxx-xxxx" required>
                    <input type="submit" value="สมัคร"> 
                </form>
                <p class="box-register">กรุณาทราบว่าคุณไม่จำเป็นต้องระบุรหัสประเทศซ้ำในช่องหมายเลขโทรศัพท์</p>
                <h4 class="box-thregister">เป็นสมาชิกแล้ว? <a href="login">เข้าสู่ระบบ</a></h4>
                <p class="box-thregister2">ในการสมัครสมาชิก ฉันยอมรับ <a href="https://www.traveloka.com/th-th/termsandconditions" class="register-link">ข้อกำหนดและเงื่อนไข</a> และ <a href="https://www.traveloka.com/th-th/privacypolicy" class="register-link">นโยบายความเป็นส่วนตัว</a>
                <br>ของ BookingKhram</p>
                <div class="security">
                    <p><img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/c/cecc53dcd35f87c240ab79221f168647.svg" height="20" width="20">
                         ปกป้องความปลอดภัยหลายขั้นตอนด้วย การแจ้งเตือนการเข้าสู่ระบบ การกรอกรหัสยืนยัน และยืนยันด้วยลายนิ้วมือ </p>
                </div>

                <p class="box-thregister2">© 2023 BookingKhram</p>
            </div>-->
            </div>
        </div>
    </div>

{% endblock %}