{% extends "base.html" %}
{% block title %}
    BookingKhram Login
{% endblock %}
{% block content %}
    <div class="container-mybookig-main">
        <div class="container-mybooking-minor">
            <div class="mbparent">
                <div class="mbdiv1"> 
                    
                </div>
                <div class="mbdiv2"> 
                    <h2>การจองที่ยังไม่เสร็จสิ้น</h4>
                    <a href="/" class="btn-mybooking-hotel"><i class="fa-solid fa-hotel"></i> &nbsp;จองโรมแรม</a>
                </div>
                <div class="mbdiv3"> 
                    <div class="mybooking-content">
                        <div class="mbccparent">
                            <div class="mbccdiv1"> 
                                <img importance="low" loading="lazy" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/07/10/1594367483828-7789b3750733eaf090bd845b4af90e97.svg?tr=h-62,q-75,w-88" srcset="https://ik.imagekit.io/tvlk/image/imageResource/2020/07/10/1594367483828-7789b3750733eaf090bd845b4af90e97.svg?tr=h-62,q-75,w-88 1x, https://ik.imagekit.io/tvlk/image/imageResource/2020/07/10/1594367483828-7789b3750733eaf090bd845b4af90e97.svg?tr=dpr-2,h-62,q-75,w-88 2x, https://ik.imagekit.io/tvlk/image/imageResource/2020/07/10/1594367483828-7789b3750733eaf090bd845b4af90e97.svg?tr=dpr-3,h-62,q-75,w-88 3x" decoding="async" width="88" height="62" style="object-fit: fill; object-position: 50% 50%;">
                            </div>
                            <div class="mbccdiv2"> 
                                <h3>เข้าถึงการจองของคุณบน BookingKhram ได้อย่างง่ายดาย</h3>
                                <p><a href="login" class="link-mybookinlogin">เข้าสู่บัญชี</a>เข้าสู่บัญชี BookingKhram ของคุณ หรือ<a href="register" class="link-mybookinlogin">ลงทะเบียน</a> เพื่อดูการจองปัจจุบันหรือการจองที่ผ่านมาของคุณ และเพื่อจัดการการจองของคุณ</p>
                            </div>
                        </div>
                    </div>
                    <div class="mybooking-content-1">
                        <div class="mbc2parent">
                            <div class="mbc2div1"> 
                                <img importance="low" loading="lazy" src="https://ik.imagekit.io/tvlk/image/imageResource/2020/07/10/1594367281441-5ec1b573d106b7aec243b19efa02ac56.svg?tr=h-96,q-75,w-96" srcset="https://ik.imagekit.io/tvlk/image/imageResource/2020/07/10/1594367281441-5ec1b573d106b7aec243b19efa02ac56.svg?tr=h-96,q-75,w-96 1x, https://ik.imagekit.io/tvlk/image/imageResource/2020/07/10/1594367281441-5ec1b573d106b7aec243b19efa02ac56.svg?tr=dpr-2,h-96,q-75,w-96 2x, https://ik.imagekit.io/tvlk/image/imageResource/2020/07/10/1594367281441-5ec1b573d106b7aec243b19efa02ac56.svg?tr=dpr-3,h-96,q-75,w-96 3x" decoding="async" width="96" height="96" style="object-fit: fill; object-position: 50% 50%;">
                            </div>
                            <div class="mbc2div2"> 
                                <h3>ไม่พบการจอง</h3>
                                <p>ยังไม่มีการจองที่ยังไม่เสร็จสิ้นจากครั้งก่อน หากคุณทำรายการจองไม่เสร็จสิ้นในครั้งหน้า เราจะบันทึกรายการนั้นไว้ที่นี่!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}