{% extends "base.html" %}
{% block title %}
    BookingKhram รายการที่บันทึก
{% endblock %}
{% block content %}
    
    <div class="container-record">
        <h2>Collections</h2>
        <p>The easy way to organize the items you love</p>
        <div class="rcparent">
            <div class="rcdiv1"> 
                <img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/0/00e531dd9042465e76fa4006380118a1.svg" width="48" height="48">
                <h3>Create New Collection</h3>
            </div>
            <div class="rcdiv2">
                <div class="rctparent">
                    <div class="rctdiv1"> 
                        <img importance="low" loading="lazy" src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/5/586fb21d7ea9c50e348180dcaf3aba9c.svg" decoding="async" width="120" height="119" style="object-fit: fill; object-position: 50% 50%;">
                    </div>
                    <div class="rctdiv2"> 
                        <h4>จัดการรายการที่บันทึกของคุณ!</h4>
                        <p>วานแผนวันหยุดหรือแนะนำสถานที่โปรดด้วยคอลเลกชัน. แนวคิดเล็ก ๆ น้อย ๆ ที่สร้างแรงบันดาลใจให้คุณในการสร้างสรรค์คอลเลกชัน:<br>
                        • แผนการเดินทางท่องเที่ยวฬนจังหวัดสุทรสงคราม<br>
                        • ร้านอาหารโปรดในเมือง</p>
                    </div>
                    </div>
            </div>
        </div>
        <hr>
        <h2>รายการที่บันทึก</h2>
        <p>ที่ที่รวบรวมรายการที่คุณชื่นชอบ!</p>
        <div class="recorded-content">
            <div class="rccparent">
                <div class="rccdiv1"> 
                    <img importance="low" loading="lazy" src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/9/95f7b223c3ebb86e4bf1ee05f1644146.svg" decoding="async" width="119" height="100" style="object-fit: fill; object-position: 50% 50%;">
                </div>
                <div class="rccdiv2"> 
                    <h4>ยังไม่มีรายการที่บันทึก</h4>
                    <p>มาเริ่มบันทึกรายการต่างๆ เพื่อเปรียบเทียบและติดตามรายการที่คุณชื่นชอบ!</p><br>
                    <a href="https://www.traveloka.com/th-th/saved-item/shareable" class="btn-record-how">วิธีบันทึกรายการต่างๆ</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}